---
layout: default
title: Home
cover: false
about: 'about.html'
---

<header>
  <h1>{{ site.name }}</h1>
</header>

<hr class="stylish"/>

{% if site.snippets.size > 0 %}
  <section id="snippets">
    <h3 class="home-page-heading">Snippets</h3>
    <div class="parent">
      {% for post in site.snippets reversed %}
        <div class="post-wrapper">
          <time class="post-date" datetime="{{ post.date }}">{{ post.date | date: "%m/%Y" }}</time>
          <a class="post-link" href="{{ post.url }}">
            {{ post.title }}
          </a>
        </div>
      {% endfor %}
      </div>
  </section>
{% endif %}

{% if site.doodles.size > 0 %}
  <section id="art">
    <h3 class="home-page-heading">Doodles</h3>
    <div class="parent">
      {% for doodle in site.doodles reversed %}
      <div class="post-wrapper">
        <time class="post-date" datetime="{{ doodle.date }}">{{ doodle.date | date: "%m/%Y" }}</time>
        <a class="post-link" href="{{ doodle.url }}">
          {{ doodle.title }}
        </a>
      </div>
      {% endfor %}
    </div>
  </section>
{% endif %}

{% if site.posts.size > 0 %}
  <section id="posts">
    <h3 class="home-page-heading">Essays</h3>
    <div class="parent">
      {% for post in site.posts %}
        <div class="post-wrapper">
          <time class="post-date" datetime="{{ post.date }}">{{ post.date | date: "%m/%Y" }}</time>
          <a class="post-link" href="{{ post.url }}">
            {{ post.title }}
          </a>
        </div>
      {% endfor %}
      </div>
  </section>
{% endif %}
