* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  height: 100%;
  font-size: 16px;
  font-family: $font-adobe-garamond;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  max-width: 700px;
  margin: 8px auto;
}

pre {
  white-space:pre-wrap;
  word-wrap:break-word;
  padding: 5px;
}

code, pre {
  background-color: #555;
  color: #fff;
  padding: 2px 5px;
  font-size: 0.9rem;
}

.container{
  flex: 1 0 auto;
}

footer {
  flex-shrink: 0;
}

a {
  color: #333;
}

a:hover {
  background-color: #333;
  color: #eee;
}

*,iframe,img,video{
  word-wrap: break-word;
  max-width:100%
}

.pd {
  width: 5em;
  text-align: center;
  flex-shrink: 0;
}

.parent div {
  display: flex;
  padding-bottom: 0.5em;
  font-size: 1.25rem;
}

.np {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: .5em;
  font-style: italic
}

.np href {
  flex-grow:1
}

.prev {
  max-width:50%;
  float:left;
  text-align:left
}

.next {
  max-width:50%;
  float:right;
  text-align:right
}

.pagination {
  font-size: 1.25rem;
}

.pagination::after {
  content:"";
  clear:both;
  display:block
}

blockquote {
  margin:0;
  padding: 1em;
  border-left: 5px solid black;
  font-size: 1.25rem;
  line-height: 1.6em;
  color: #333;
}

.title-tags{
  color: #777;
  font-size: 1.25rem;
}

.tag_box{
  text-transform: capitalize;
}

.nice-title{
  text-transform: capitalize;
}

p {
  font-size: 1.25rem;
  line-height: 1.6em;
  color: #333;
  margin: 20px 0;
}

.tags {
  background-color: #444;
  color: #fff;
  padding: 2px 5px;
  border-radius: 2px;
  text-decoration: none;
}

h1 {
  font-size: 1.75rem;
  margin: 0.75rem 0;
  letter-spacing: 0.5px;
}

h2 {
  margin: .75rem 0;
  letter-spacing: .5px;
}

h3 {
  font-size: 1.5rem;
  margin: 0.75rem 0;
  letter-spacing: 0.5px;
}

h4 {
  font-size: 1.1rem;
  margin: 0.75rem 0;
  letter-spacing: 0.5px;
}

section h3 {
  margin-top: 40px;
  font-size: 1.25rem;
}

h3.home-page-heading {
  margin-top: 10px;
}

.tags-container {
  margin: 10px auto;
}

ul {
  padding-left: 20px;
}

li {
  font-size: 1.25rem;
  line-height: 1.6em;
  color: #333;
}

figure {
  width: 100%;
  margin: 0;
}

figure.highlight pre {
  border-radius: 3px;
}

figcaption {
  text-align: center;
  font-size: 1.25rem;
  line-height: 1.6em;
  color: #333;
}

hr.stylish {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.90), rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0));
  margin: 5px 0;
}

.ais-Highlight {
  background-color: yellow;
}

.search-list-item, .search-label {
  font-size: 1.25em;
}

.search-wrapper {
  margin: 8px 0;
}

// media queries

@media screen and (max-width:600px) {
  .pd {
    display:none
  }
  .parent div {
    padding-bottom: 1em
  }
}

@media screen and (max-width: 700px) {
  body {
    margin: 8px;
  }
}

@media screen and (max-width: 370px) {
  .nav-item{font-size:0.8rem;}
}
