<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="description" content="{{ site.meta_description}}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">    
    <link rel="manifest" href="/manifest.json">

    <title>
      {% if page.title == "Home" %}
        {{ site.title }}
      {% else %}
        {{ page.title }} &middot; {{ site.title }}
      {% endif %}
    </title>

    <style type="text/css">
      *,iframe,img,video{word-wrap:break-word}iframe,img,video{max-width:100%}.pd{width:5em;text-align:center;flex-shrink:0}.parent div{display:flex}@media screen and (max-width:600px){.pd{display:none}.parent div{padding-bottom:1em}}.np{display:flex;flex-direction:row;justify-content:space-between;padding-bottom:.5em;font-style:italic}.np href{flex-grow:1}.prev{width:50%;float:left;text-align:left}.next{width:50%;float:right;text-align:right}.pagination::after{content:"";clear:both;display:block}body{font-family:'Open Sans',sans-serif;}blockquote{margin:0;padding: 1em;border-left: 5px solid black;}
    </style>
</head>
<body>

    {{ content }}
    
    <hr/>

    <footer>
      <section>
          <a href='/'>Home</a> |         
          <a href='/about.html'>About</a> | 
          <a href='https://github.com/abhn'>Github</a> |
          <a href="/feed.xml">Subscribe</a>
      </section>
      <section>
        <a>{{ site.name }}</a> &copy; 2017
      </section>
    </footer>
    <script>
      if ('serviceWorker' in navigator) {
        window.addEventListener('load', function() {
          navigator.serviceWorker.register('/sw.js').then(function(registration) {
            // Registration was successful
            console.log('ServiceWorker registration successful with scope: ', registration.scope);
          }, function(err) {
            // registration failed :(
            console.log('ServiceWorker registration failed: ', err);
          });
        });
      }
    </script>
</body>
</html>
