---
layout: default
---

<header>
  <h1>{{ page.title }}</h1>
  <header class="title-tags">
      <time datetime="{{ page.date }}">{{ page.date | date: '%-d %B, %Y. It was a %A.' }}</time>
      <div class="tags-container">
        Posted under <span>
          {% for tag in page.tags %}
            <a class="tags" href="/tags#{{ tag }}">{{ tag }}</a>
          {% endfor %}
        </span>
        &nbsp;
      </div>
  </header>
</header>

<hr class="stylish" />

<main role="main">

    <article>

        <section>
            {{content}}
        </section>

        <br/>

        {% include featured.html %}

        <br/>

        <section class="pagination">
          {% if page.previous.url %}
            <a class="prev" href="{{page.previous.url}}">&laquo; {{page.previous.title}}</a>
          {% endif %}
          {% if page.next.url %}
            <a class="next" href="{{page.next.url}}">{{page.next.title}} &raquo;</a>
          {% endif %}
        </section>

        <br/>

    </article>

</main>
